
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-mulish {
 font-family: Mulish;
font-size: 14px;
font-weight: 500;
line-height: 17.57px;
text-align: left;

}

.font-family-mulish-2 {
 font-family: Mulish;
font-size: 16px;
font-weight:900;
line-height: 17.57px;
text-align: left;

}

.font-family-nunito {
font-family: Nunito;
font-size: 16px;
font-weight: 900;
line-height: 25.18px;
text-align: left;
}


.slick-dots {
  @apply flex justify-center mt-4;
}

.slick-dots li {
  @apply mx-1;
}

.slick-dots li button {
  @apply p-0 border-none;
}

.slick-dots li button:before {
  content: '•';
  @apply text-gray-400 text-lg opacity-75 transition-opacity duration-300;
}

.slick-dots li.slick-active button:before {
  @apply text-indigo-600 opacity-100;
}