
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-mulish {
 font-family: Mulish;
font-size: 14px;
font-weight: 500;
line-height: 17.57px;
text-align: left;

}

.font-family-mulish-2 {
 font-family: Mulish;
font-size: 16px;
font-weight:900;
line-height: 17.57px;
text-align: left;

}

.font-family-nunito {
font-family: Nunito;
font-size: 16px;
font-weight: 900;
line-height: 25.18px;
text-align: left;
}